* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h2, h3, h4 {
  font-weight: 400;
}

li {
  list-style: none;
}

i {
  display: inline-block;
  font-style: normal;
}

*:before, *:after {
  -webkit-backface-visibility: hidden;
}

body {
  min-width: 1190px;
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
  font-size: 12px;
  color: #666;
  background: #f6f6f6;
  -webkit-font-smoothing: antialiased;
}

.last {
  margin-right: 0 !important;
}

.block, .b {
  display: block;
}

.wrapper {
  position: relative;
  width: 1190px;
  margin: 0 auto;
}

.slideshow {
  position: relative;
}

.third-box, .stage .st-body .grid-box, .stage .st-body .dec-box-r, .stage .st-body .dec-box-l {
  float: left;
  width: 390px;
  height: 450px;
  margin-right: 10px;
  margin-bottom: 30px;
  background-color: #fff;
}

.third-box .header, .stage .st-body .grid-box .header, .stage .st-body .dec-box-r .header, .stage .st-body .dec-box-l .header, .third-box .box-header, .stage .st-body .grid-box .box-header, .stage .st-body .dec-box-r .box-header, .stage .st-body .dec-box-l .box-header {
  height: 60px;
  padding: 0 20px;
}

.third-box .header h3, .stage .st-body .grid-box .header h3, .stage .st-body .dec-box-r .header h3, .stage .st-body .dec-box-l .header h3, .third-box .box-header h3, .stage .st-body .grid-box .box-header h3, .stage .st-body .dec-box-r .box-header h3, .stage .st-body .dec-box-l .box-header h3 {
  display: inline-block;
  margin-right: 0px;
  font-size: 22px;
  line-height: 60px;
  vertical-align: middle;
  color: #222;
}

.third-box .header i.icon-cir-arrow, .stage .st-body .grid-box .header i.icon-cir-arrow, .stage .st-body .dec-box-r .header i.icon-cir-arrow, .stage .st-body .dec-box-l .header i.icon-cir-arrow, .third-box .box-header i.icon-cir-arrow, .stage .st-body .grid-box .box-header i.icon-cir-arrow, .stage .st-body .dec-box-r .box-header i.icon-cir-arrow, .stage .st-body .dec-box-l .box-header i.icon-cir-arrow {
  width: 23px;
  height: 23px;
  margin-top: 2px;
  margin-right: 2px;
  vertical-align: middle;
  background: url(../img/icon/cir-arrow.png) no-repeat;
}

.third-box .header .subtitle, .stage .st-body .grid-box .header .subtitle, .stage .st-body .dec-box-r .header .subtitle, .stage .st-body .dec-box-l .header .subtitle, .third-box .box-header .subtitle, .stage .st-body .grid-box .box-header .subtitle, .stage .st-body .dec-box-r .box-header .subtitle, .stage .st-body .dec-box-l .box-header .subtitle {
  font-size: 14px;
  vertical-align: middle;
  color: #999;
}

.third-box .box-body, .stage .st-body .grid-box .box-body, .stage .st-body .dec-box-r .box-body, .stage .st-body .dec-box-l .box-body {
  height: 390px;
}

.stage .a {
  display: block;
}

.stage .wrapper {
  overflow: hidden;
}

.stage img {
  width: 100%;
  height: 100%;
  transition: 0.4s ease;
}

.stage img:hover {
  opacity: 0.8;
}

.stage .marg-l-20 {
  margin-left: 20px;
}

.stage .marg-r-20 {
  margin-rights: 20px;
}

.stage .bo-xlar-grid {
  float: left;
  overflow: hidden;
  width: 350px;
  height: 226px;
  margin-right: 10px;
  margin-bottom: 20px;
  background: #fff;
}

.stage .bo-lar-grid {
  overflow: hidden;
  width: 350px;
  height: 180px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #fff;
}

.stage .bo-med-grid {
  float: left;
  overflow: hidden;
  width: 170px;
  height: 180px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #fff;
}

.stage .bo-sm-grid {
  float: left;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-right: 25px;
  background: #fff;
}

.stage .bo-med-list {
  width: 170px;
  height: 180px;
}

.stage .bo-med-list table {
  width: 350px;
  border-collapse: collapse;
}

.stage .bo-med-list table td {
  height: 58px;
  text-align: center;
  border: 1px solid #ebeaea;
}

.stage .bo-med-list table td a {
  display: inline-block;
  width: 100%;
}

.stage .bo-med-list table td a img {
  width: 66px;
  height: 45px;
}

.stage .st-header {
  overflow: hidden;
  width: 300px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #222;
}

.stage .st-header h3 {
  position: relative;
  display: inline-block;
}

.stage .st-header h3:before {
  left: -70px;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 3px;
  content: "";
  background: #222;
}

.stage .st-header h3:after {
  right: -70px;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 3px;
  content: "";
  background: #222;
}

.stage .st-body .grid-box {
  overflow: hidden;
  background: transparent;
}

.stage .st-body .grid-box ul {
  width: 400px;
  height: 100%;
}

.stage .st-body .grid-box ul li {
  float: left;
  width: 190px;
  height: 220px;
  margin: 0 10px 10px 0;
  text-align: center;
  background: #fff;
}

.stage .st-body .grid-box ul li .pic {
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 25px auto 16px;
}

.stage .st-body .grid-box ul li h3 {
  display: inline-block;
  overflow: hidden;
  width: 120px;
  height: 22px;
  font-size: 14px;
  line-height: 22px;
  transition: color ease .2s;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}

.stage .st-body .grid-box ul li h3:hover {
  color: #e33333;
}

.stage .st-body .grid-box ul li p {
  overflow: hidden;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #e33333;
}

.stage .st-body .brand-shop {
  float: left;
  width: 390px;
  height: 450px;
  margin-right: 10px;
  margin-bottom: 30px;
  background-color: #fff;
}

.stage .st-body .brand-shop .bra-header {
  height: 45px;
  padding: 20px 20px;
}

.stage .st-body .brand-shop .bra-header .brand-pic {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 130px;
  height: 43px;
  margin-right: 10px;
  vertical-align: middle;
}

.stage .st-body .brand-shop .bra-header h3 {
  font-size: 18px;
  line-height: 45px;
}

.stage .st-body .brand-shop .bra-body {
  overflow: hidden;
  padding: 0 20px;
}

.stage .st-body .dec-box-r, .stage .st-body .dec-box-l {
  position: relative;
  background-color: transparent;
}

.stage .st-body .dec-box-r .dec-box-content, .stage .st-body .dec-box-l .dec-box-content {
  width: 340px;
  height: 420px;
  margin-left: 20px;
}

.stage .st-body .dec-box-r .dec-box-content a, .stage .st-body .dec-box-l .dec-box-content a {
  font-size: 0;
  background: #fff;
}

.stage .st-body .dec-box-r .dec-box-content .dec-item, .stage .st-body .dec-box-l .dec-box-content .dec-item {
  width: 340px;
  height: 200px;
  margin-bottom: 20px;
}

.stage .st-body .dec-box-r:before, .stage .st-body .dec-box-l:before {
  position: absolute;
  z-index: -1;
  top: 20px;
  right: 0;
  display: block;
  width: 340px;
  height: 420px;
  content: "";
  border: 5px solid #333;
}

.stage .st-body .dec-box-l .dec-box-content {
  margin-left: 30px;
}

.stage .st-body .dec-box-l:before {
  left: 0;
}

i.arrow-down {
  margin-top: -4px;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background: url(../img/icon/arrow-down.png) no-repeat;
  background-size: 12px 12px;
}

i.site {
  margin-top: -4px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background: url(../img/icon/site.png) no-repeat;
  background-size: 16px 16px;
}

i.close {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background: url(../img/icon/close.png) no-repeat;
  background-size: 22px 22px;
}

i.icon-search {
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background: url(../img/icon/search.png) no-repeat;
  background-size: 22px 22px;
}

i.icon-chart {
  margin-top: -4px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background: url(../img/icon/cart.png) no-repeat;
  background-size: 20px 20px;
}

i.icon-empty-cart {
  width: 57px;
  height: 49px;
  vertical-align: middle;
  background: url(../img/icon/empty-cart.png) no-repeat;
  background-size: 57px 49px;
}

.top-banner {
  position: relative;
  z-index: 2;
  height: 80px;
  text-align: center;
  background-color: #bc3e28;
}

.top-banner .wrapper {
  position: relative;
}

.top-banner .wrapper i.close {
  position: absolute;
  top: 4px;
  right: 0;
  opacity: 0.2;
}

/*sitenav*/
.sitenav {
  position: relative;
  line-height: 28px;
  background: #e1e2e4;
}

.sitenav .wrapper {
  height: 30px;
}

.sitenav .dropdown {
  display: none;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.sitenav,
.sitenav a,
.sitenav i {
  color: #999;
}

.sitenav-pipe {
  width: 1px;
  height: 10px;
  margin: 0 5px;
  background: #ccc;
}

/*sity */
.sitenav .sity {
  position: relative;
  z-index: 10;
  display: inline-block;
  float: left;
  margin-left: 200px;
  list-style-type: none;
}

.sitenav .sity .mysity {
  position: relative;
  z-index: 1;
  width: 60px;
  height: 29px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #e1e2e4;
  border-bottom: 0;
}

.sitenav .sity .mysity .icon-zuobiao {
  font-size: 14px;
  color: #f10215;
}

.sitenav .sity .dropdown {
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
  width: 300px;
  height: 196px;
  padding: 10px;
}

.sitenav .sity .dropdown li {
  float: left;
  width: 60px;
  padding: 2px 0;
  line-height: 24px;
}

.sitenav .sity .dropdown .selected a {
  color: #fff;
  background: #f10215;
}

.sitenav .sity .dropdown .selected a:hover {
  background: #f10215;
}

.sitenav .sity .dropdown a {
  padding: 4px 8px;
}

.sitenav .sity .dropdown a:hover {
  background: #f4f4f4;
}

.sitenav .sity:hover .mysity {
  padding-bottom: 1px;
  border: 1px solid #ccc;
  border-bottom: 0;
  background: #fff;
}

.sitenav .sity:hover .dropdown {
  display: block;
}

/*city end*/
/*menu*/
.sitenav .menu {
  float: right;
  list-style: none;
  cursor: pointer;
}

.sitenav .menu .signup a {
  color: #f10215;
}

.sitenav .menu li {
  position: relative;
  z-index: 10;
  display: inline-block;
  list-style-type: none;
}

.sitenav .menu .item {
  position: relative;
  z-index: 1;
  height: 29px;
  padding: 0 5px;
  border: 1px solid #e1e2e4;
  border-bottom: 0;
}

.sitenav .menu .iconfont {
  margin-left: -4px;
}

/*menu end*/
/*myjd */
#myjd li {
  width: 126px;
}

#myjd .dropdown {
  position: absolute;
  top: 30px;
  display: none;
  width: 280px;
}

#myjd .dropdown .myjd-list {
  padding: 10px 0 10px 15px;
  line-height: 24px;
  border-bottom: 1px solid #ccc;
}

#myjd:hover .item {
  padding-bottom: 1px;
  border: 1px solid #ccc;
  border-bottom: 0;
  background: #fff;
}

#myjd:hover .dropdown {
  display: block;
}

/*myjd end*/
/*serve*/
#serve .dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  display: none;
  width: 170px;
  padding: 10px 0;
}

#serve .dropdown div {
  padding-left: 15px;
  font-weight: 800;
  line-height: 20px;
  color: #111;
}

#serve .title2 {
  padding-top: 10px;
  border-top: 1px dotted #ccc;
}

#serve .list {
  padding-bottom: 10px;
  line-height: 26px;
}

#serve .list li {
  width: 65px;
  margin-top: -4px;
  padding-left: 15px;
}

#serve:hover .item {
  padding-bottom: 1px;
  border: 1px solid #ccc;
  border-bottom: 0;
  background: #fff;
}

#serve:hover .dropdown {
  display: block;
}

/*serve end*/
/*sitemap*/
#sitemap .dropdown {
  position: absolute;
  top: 30px;
  right: -79px;
  width: 1188px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#sitemap .dropdown dl {
  float: left;
  width: 255px;
  padding-left: 20px;
}

#sitemap .dropdown dl:not(:last-child) {
  border-right: 1px solid #ccc;
}

#sitemap .dropdown .list {
  width: 340px;
}

#sitemap .dropdown dt {
  font-weight: 800;
  color: #111;
}

#sitemap .dropdown ul {
  line-height: 24px;
}

#sitemap .dropdown ul li {
  width: 80px;
}

#sitemap:hover .item {
  padding-bottom: 1px;
  border: 1px solid #ccc;
  border-bottom: 0;
  background: #fff;
}

#sitemap:hover .dropdown {
  display: block;
}

/*sitemap end*/
/*sitenav menu end*/
/*sitenav end*/
/*header*/
.header {
  height: 140px;
}

.header .wrapper {
  height: 140px;
}

.header .logo {
  z-index: 1;
  position: absolute;
  top: -30px;
  width: 190px;
  height: 170px;
  background: #fff;
  background: url(../img/icon/logo.v3.jpg);
  border-bottom: 1px solid #ededed;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.2);
}

.header .search {
  position: absolute;
  top: 25px;
  left: 320px;
}

.header .search .searchbar {
  position: relative;
  width: 550px;
}

.header .search .searchbar input {
  width: 490px;
  height: 25px;
  padding: 4px;
  border: 1px solid #f10215;
  outline: none;
}

.header .search .searchbar .byphoto {
  position: absolute;
  top: 10px;
  right: 65px;
  width: 19px;
  height: 15px;
  background: url(../img/icon/camera.png) no-repeat;
}

.header .search .searchbar .byphoto:hover {
  background: url(../img/icon/camera-red.png) no-repeat;
}

.header .search .searchbar .searchbtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 35px;
  cursor: pointer;
  border: 0;
  outline: none;
  background: #f10215;
}

.header .search .searchbar .searchbtn i {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
}

.header .mycart {
  z-index: 1;
  position: relative;
  position: absolute;
  top: 25px;
  right: 99px;
  float: right;
  width: 188px;
}

.header .mycart .dropdown {
  display: none;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 35px;
  right: 0;
  display: none;
  width: 308px;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #ccc;
  background: #fff;
}

.header .mycart .content {
  z-index: 1;
  position: relative;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border: 1px solid #ccc;
  background: #fff;
  color: #f10215;
}

.header .mycart .amount {
  display: inline-block;
  min-width: 12px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  vertical-align: super;
  color: #fff;
  border: 1px solid #f10215;
  border-radius: 20px;
  background: #f10215;
}

.header .mycart:hover .content {
  padding-bottom: 2px;
  border-bottom: 0;
}

.header .mycart:hover .dropdown {
  display: block;
}

.header .saleinf {
  position: absolute;
  top: 65px;
  left: 320px;
  color: #999;
}

.header .saleinf .selected {
  color: #f10215;
}

.header .headernav {
  position: absolute;
  bottom: 0;
  left: 200px;
  width: 790px;
  height: 40px;
}

.header .headernav li {
  float: left;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  color: #333;
}

.header .headernav li:hover {
  color: #f10215;
}

.header .headernav .pipe {
  width: 1px;
  height: 12px;
  margin-top: 15px;
  background: #ccc;
}

/*header end*/
.grid_1 {
  margin-bottom: 30px;
}

.grid_1 .wrapper {
  height: 480px;
}

.grid_1 .lnav {
  float: left;
  width: 190px;
  height: 100%;
  margin-right: 10px;
  background: #fefefe;
}

.grid_1 .lnav ul {
  padding-top: 16px;
  padding-bottom: 16px;
}

.grid_1 .lnav li {
  height: 28px;
  padding-left: 18px;
  font-size: 0;
  line-height: 28px;
  user-select: none;
}

.grid_1 .lnav li:hover {
  background: #d9d9d9;
}

.grid_1 .lnav span {
  padding: 0 2px;
  font-size: 12px;
  cursor: default;
  color: #636363;
}

.grid_1 .lnav a {
  font-size: 14px;
  color: #626262;
}

.grid_1 .lnav a:hover {
  color: #f10215;
}

.grid_1 .bannarbox {
  float: left;
  width: 790px;
  height: 100%;
  margin-top: 10px;
}

.grid_1 .bannarbox .l-banner {
  float: left;
  display: block;
  width: 590px;
  height: 470px;
  margin-right: 10px;
}

.grid_1 .bannarbox .l-banner .slideshow {
  width: 100%;
  height: 100%;
}

.grid_1 .bannarbox .l-banner .slides li {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.grid_1 .bannarbox .l-banner .dots {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 46px;
}

.grid_1 .bannarbox .l-banner .dots li {
  float: left;
  width: 18px;
  height: 18px;
  transition: .2s ease;
  text-align: center;
  border-radius: 9px;
}

.grid_1 .bannarbox .l-banner .dots li i {
  width: 6px;
  height: 6px;
  margin-top: 4px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.grid_1 .bannarbox .l-banner .dots li.focus, .grid_1 .bannarbox .l-banner .dots li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.grid_1 .bannarbox .l-banner .dots li.focus i, .grid_1 .bannarbox .l-banner .dots li:hover i {
  border-color: #fff;
  background: #fff;
}

.grid_1 .bannarbox .l-banner .slideshow-controls div {
  position: absolute;
  z-index: 20;
  top: 45%;
  width: 20px;
  height: 40px;
  line-height: 40px;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0.4;
  border: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.grid_1 .bannarbox .l-banner .slideshow-controls div i.icon-arrow-white {
  width: 6px;
  height: 11px;
  background: url(../img/icon/arrow-left-white.png) no-repeat;
  background-size: 6px;
}

.grid_1 .bannarbox .l-banner .slideshow-controls div:hover {
  background: rgba(0, 0, 0, 0.4);
}

.grid_1 .bannarbox .l-banner .slideshow-controls .slideshow-con-prev {
  left: 0;
}

.grid_1 .bannarbox .l-banner .slideshow-controls .slideshow-con-next {
  right: 0;
}

.grid_1 .bannarbox .l-banner .slideshow-controls .slideshow-con-next i {
  margin-left: 2px;
  transform: rotateY(180deg);
}

.grid_1 .bannarbox .r-banner {
  overflow: hidden;
  width: 190px;
  height: 470px;
}

.grid_1 .bannarbox .r-banner .banner {
  width: 190px;
  height: 150px;
  margin-bottom: 10px;
}

.grid_1 .rnav {
  float: right;
  width: 190px;
  height: 470px;
  margin-top: 10px;
  background: white;
  position: relative;
}

.grid_1 .rnav .userInf {
  height: 170px;
  margin: 0 auto;
}

.grid_1 .rnav .userInf .user-face {
  position: relative;
  margin-top: -10px;
  margin-bottom: 14px;
}

.grid_1 .rnav .userInf .user-face img {
  display: block;
  width: 65px;
  height: 65px;
  margin: 0 auto;
  border-radius: 50%;
}

.grid_1 .rnav .userInf .user-face a {
  position: absolute;
  top: -17px;
  left: 50%;
  overflow: hidden;
  width: 106px;
  height: 108px;
  transform: translateX(-50%);
  background: url(../img/icon/sprite.user.png) no-repeat;
  background-position: 4px 0px;
}

.grid_1 .rnav .userInf .userSign {
  height: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.grid_1 .rnav .userInf .userSign a:hover {
  color: #f10215;
}

.grid_1 .rnav .userInf .userPrefit {
  font-size: 0;
  text-align: center;
}

.grid_1 .rnav .userInf .userPrefit a {
  display: inline-block;
  width: 70px;
  height: 25px;
  margin: 0 5px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  color: #f10215;
  border-radius: 13px;
  box-shadow: 4px 6px 12px 2px rgba(45, 45, 45, 0.15);
}

.grid_1 .rnav .userInf .userPrefit a:hover {
  color: #fff;
  background: #f10215;
}

.grid_1 .rnav .userInf .userPrefit .black {
  color: #e5d790;
  background: #363634;
}

.grid_1 .rnav .notice {
  overflow: hidden;
  height: 154px;
  height: 133px;
  padding: 17px 15px 0;
  cursor: pointer;
}

.grid_1 .rnav .notice .title {
  position: relative;
  padding: 8px 0 4px;
  line-height: 14px;
}

.grid_1 .rnav .notice .title .pipe {
  position: absolute;
  bottom: 0;
  width: 28px;
  height: 2px;
  transition: transform .3s ease;
  background: #f10215;
}

.grid_1 .rnav .notice .title #onsalebtn {
  padding-right: 12px;
  border-right: 1px solid #dfe0e1;
}

.grid_1 .rnav .notice .title #announcebtn {
  padding-left: 12px;
}

.grid_1 .rnav .notice .title #more {
  float: right;
}

.grid_1 .rnav .notice .matter {
  padding: 12px 0;
  line-height: 22px;
}

.grid_1 .rnav .notice .matter #mannounce {
  display: none;
}

.grid_1 .rnav .notice .matter li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.grid_1 .rnav .notice .matter li:hover {
  color: #f10215;
}

.serviceTag {
  overflow: hidden;
  position: relative;
  height: 160px;
  padding: 10px 15px 15px;
}

.serviceTag .tag li {
  position: relative;
  float: left;
  overflow: hidden;
  width: 40px;
  height: 45px;
  text-align: center;
}

.serviceTag .tag li i {
  display: block;
  width: 24px;
  height: 24px;
  margin: 16px auto 36px;
  transition: 0.2s ease;
  background: url(../img/icon/sprite.service.png) no-repeat;
}

.serviceTag .tag li a {
  display: block;
}

.serviceTag .tag li span:not(.icon-cornerdes) {
  display: block;
  height: 25px;
  line-height: 25px;
  color: #fff;
  border-radius: 5px;
  background: #bea68d;
}

.serviceTag .tag li:hover i {
  margin-top: -45px;
}

.serviceTag .tag .icon-phone {
  background-position: -145px -42px;
}

.serviceTag .tag .icon-fly {
  background-position: -29px -42px;
}

.serviceTag .tag .icon-hotel {
  background-position: -174px -42px;
}

.serviceTag .tag .icon-train {
  background-position: -87px -42px;
}

.serviceTag .tag .icon-company {
  background-position: -116px -42px;
}

.serviceTag .tag .icon-oil {
  background-position: -116px -71px;
}

.serviceTag .tag .icon-movie {
  background-position: -58px -42px;
}

.serviceTag .tag .icon-game {
  background-position: 0 -71px;
}

.serviceTag .tag .icon-people {
  background-position: -29px -71px;
}

.serviceTag .tag .icon-money {
  background-position: -58px -71px;
}

.serviceTag .tag .icon-giftcard {
  background-position: -87px -71px;
}

.serviceTag .tag .icon-chit {
  background-position: 0 -42px;
}

.serviceTag .tag .icon-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 16px;
  margin: 0;
  background: url(../img/icon/corner.png) no-repeat;
  background-size: 12px 16px;
}

.serviceTag .tag .icon-cornerdes {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 12px;
  color: #fff;
}

.serviceTag .info {
  position: absolute;
  bottom: -200px;
  width: 160px;
  left: 0;
  padding: 0 15px;
  height: 180px;
  background-color: #fff;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.serviceTag .info .info-tag {
  overflow: hidden;
  padding-bottom: 2px;
}

.serviceTag .info .info-tag li {
  float: left;
  border-bottom: 2px solid #fff;
  width: 40px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  padding-bottom: 4px;
}

.serviceTag .info .info-tag li:hover {
  border-bottom-color: #e01121;
}

.serviceTag .info .tc-item-content {
  margin-top: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}

.serviceTag .info .tc-item-content .second-nav {
  margin-right: -20px;
  overflow: hidden;
}

.serviceTag .info .tc-item-content .second-nav li {
  width: 56px;
  float: left;
}

.serviceTag .info .tc-item-content .second-nav li:hover {
  color: #f10215;
}

.serviceTag .info .tc-item-content .optionList {
  display: inline-block;
}

.serviceTag .info .tc-item-content .optionList li {
  width: 100%;
  display: inline;
  float: left;
  overflow: auto;
  margin-right: 10px;
  text-wrap: nowrap;
  border: 0;
}

.serviceTag .info .tc-item-content .optionList li div {
  margin-top: 10px;
}

.serviceTag .info .tc-item-content .optionList li input, .serviceTag .info .tc-item-content .optionList li select {
  width: 125px;
  height: 20px;
  float: right;
  box-sizing: border-box;
  font-size: 12px;
  border: 1px solid #e7e7e7;
}

.serviceTag .info .tc-item-content .optionList li input {
  padding-left: 4px;
}

.serviceTag .info .tc-item-content .optionList li .ad > p {
  color: #f10215;
}

.serviceTag .info .tc-item-content .optionList li .ad button {
  background: #f10215;
  border: none;
  width: 68px;
  height: 20px;
  border-radius: 16px;
  color: #fff;
  padding-bottom: 2px;
}

.serviceTag .info .tc-item-content .optionList li .ad a {
  color: #5476db;
  line-height: 22px;
}

.serviceTag .info .tc-item-content .optionList li .ad a:hover {
  color: #f10215;
}

.serviceTag .info .tc-item-content .optionList li:last-child {
  margin-right: 0px;
}

.serviceTag .info .tc-item-content a {
  font-size: 12px;
  text-align: left;
}

.serviceTag .info .tag-content {
  width: 100%;
  height: 160px;
  position: relative;
}

.serviceTag .info .tag-content .tc-item {
  position: absolute;
  top: 0;
  width: 100%;
  background: #fff;
}

.serviceTag .option {
  overflow: hidden;
}

.serviceTag .option .option-1 p {
  margin-bottom: 10px;
}

.serviceTag .option .option-1 .flight-type input, .serviceTag .option .option-1 .flight-type label {
  margin-right: 8px;
}

.serviceTag .option .option-1 .flight-type input {
  vertical-align: middle;
}

.serviceTag .option .option-1 .sity {
  position: relative;
  margin-bottom: 12px;
}

.serviceTag .option .option-1 .sity div {
  margin-bottom: -2px;
}

.serviceTag .option .option-1 .sity div input {
  width: 120px;
  height: 18px;
  text-align: center;
  border: 1px solid #999;
}

.serviceTag .option .option-1 .sity div label {
  width: 30px;
}

.serviceTag .option .option-1 .sity .reverse-sity {
  position: absolute;
  top: 10px;
  right: 2px;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 50%;
  outline: 0;
  background: url(../img/icon/change-city.png) no-repeat;
}

.serviceTag .option .option-1 .date input {
  width: 120px;
  height: 18px;
  text-align: center;
  border: 1px solid #999;
}

.serviceTag .option .option-1 .search .ticket-search {
  padding: 2px 4px 4px 4px;
  color: #fff;
  border-radius: 16px;
  background-color: #f10215;
}

.serviceTag .option .option-1 .search .sale-info {
  color: #55f;
}

#tc-hotel .optionList .option input {
  width: 100px;
  height: 18px;
  line-height: 20px;
  border: 1px solid #e7e7e7;
  padding-left: 10px;
  color: #aaa;
}

#tc-hotel .optionList .option #select-station {
  width: 100%;
}

#tc-hotel .optionList .option .ad {
  margin-top: 10px;
}

#tc-hotel .optionList .option .ad span {
  float: right;
}

#lnav-content {
  display: none;
  position: absolute;
  left: 190px;
  width: 958px;
  padding: 20px;
  min-height: 440px;
  background-color: #f7f7f7;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 30;
  transition: 0.4s ease;
}

#lnav-content .l-main .top-label {
  height: 24px;
  overflow: hidden;
  margin-bottom: 10px;
}

#lnav-content .l-main .top-label li {
  position: relative;
  float: left;
  background: #333;
  margin-right: 15px;
  color: #fff;
  padding-left: 10px;
  padding-right: 24px;
  height: 24px;
  line-height: 24px;
  transition: 0.4s ease;
}

#lnav-content .l-main .top-label li:after {
  content: "";
  position: absolute;
  right: 10px;
  top: calc(50% - 5px);
  display: block;
  width: 10px;
  height: 10px;
  color: red;
  background-color: #fff;
}

#lnav-content .l-main .top-label li:hover {
  background-color: #666;
}

#lnav-content .l-main .goods-type-container {
  width: 800px;
}

#lnav-content .l-main .goods-type-container .goods-type {
  width: 100%;
  min-height: 24px;
  overflow: hidden;
}

#lnav-content .l-main .goods-type-container .goods-type dl dt {
  float: left;
  margin-right: 10px;
  width: 70px;
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
  line-height: 16px;
  height: 16px;
}

#lnav-content .l-main .goods-type-container .goods-type dl dd {
  margin-left: 80px;
  border-bottom: 1px solid #e0e0e0;
  padding: 6px 0;
  overflow: hidden;
}

#lnav-content .l-main .goods-type-container .goods-type dl dd ul li {
  float: left;
  border-left: 1px solid #e0e0e0;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 16px;
  color: #666;
  height: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  white-space: nowrap;
  /* text-align: center; */
}

#lnav-content .l-main .goods-type-container .goods-type dl:last-child dd {
  border-bottom: none;
}

.secondkill .wrapper {
  height: 275px;
  margin-bottom: 30px;
  background: #fff;
}

.secondkill .sek-info {
  position: relative;
  float: left;
  width: 190px;
  height: 100%;
  background-color: #e83632;
}

.secondkill .sek-info h3 {
  position: absolute;
  top: 42px;
  width: 100%;
  font-size: 34px;
  text-align: center;
  color: #fff;
}

.secondkill .sek-info h4 {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.secondkill .sek-info i.icon-lighting {
  position: absolute;
  top: 126px;
  left: 86px;
  width: 20px;
  height: 33px;
  background: url(../img/icon/sprite.seckill.png) no-repeat;
  background-position: -35px -25px;
}

.secondkill .sek-info p {
  position: absolute;
  top: 170px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.secondkill .sek-info .countdown {
  position: absolute;
  top: 212px;
  left: 30px;
  height: 40px;
}

.secondkill .sek-info .countdown div {
  position: relative;
  z-index: 1;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #2f3430;
}

.secondkill .sek-info .countdown div span {
  position: relative;
}

.secondkill .sek-info .countdown div:before {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 1px;
  content: "";
  background-color: #e83632;
}

.secondkill .sek-list {
  position: relative;
  float: left;
  width: 799px;
  height: 100%;
  border-right: 1px solid #f0f0f0;
}

.secondkill .sek-list .sek-goods .slideshow {
  overflow: hidden;
}

.secondkill .sek-list .sek-goods .slideshow .slides {
  position: relative;
  width: 5000px;
  height: 275px;
}

.secondkill .sek-list .sek-goods .slideshow .slideshow-controls div {
  position: absolute;
  z-index: 20;
  top: 45%;
  width: 20px;
  height: 40px;
  line-height: 40px;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0.4;
  border: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.secondkill .sek-list .sek-goods .slideshow .slideshow-controls div i.icon-arrow-white {
  width: 6px;
  height: 11px;
  background: url(../img/icon/arrow-left-white.png) no-repeat;
  background-size: 6px;
}

.secondkill .sek-list .sek-goods .slideshow .slideshow-controls div:hover {
  background: rgba(0, 0, 0, 0.4);
}

.secondkill .sek-list .sek-goods .slideshow .slideshow-controls .slideshow-con-prev {
  left: 0;
}

.secondkill .sek-list .sek-goods .slideshow .slideshow-controls .slideshow-con-next {
  right: 0;
}

.secondkill .sek-list .sek-goods .slideshow .slideshow-controls .slideshow-con-next i {
  margin-left: 2px;
  transform: rotateY(180deg);
}

.secondkill .sek-list .sek-goods .slide {
  float: left;
  height: 100%;
}

.secondkill .sek-list .sek-goods li.slide-item {
  position: relative;
  float: left;
  width: 200px;
  height: 275px;
}

.secondkill .sek-list .sek-goods li.slide-item a {
  position: relative;
  display: block;
  overflow: hidden;
  width: 180px;
  height: 275px;
  margin: 0 5px;
}

.secondkill .sek-list .sek-goods li.slide-item i.icon-flage {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 30px;
  height: 40px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background: url(../img/icon/sprite.seckill.png) no-repeat;
  background-position: 0px -26px;
}

.secondkill .sek-list .sek-goods li.slide-item .good-img {
  width: 140px;
  height: 140px;
  margin: 20px auto 18px;
}

.secondkill .sek-list .sek-goods li.slide-item .title {
  overflow: hidden;
  width: 160px;
  margin: 0 auto;
  margin-bottom: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.secondkill .sek-list .sek-goods li.slide-item .title:hover {
  color: #e6382f;
}

.secondkill .sek-list .sek-goods li.slide-item .price {
  overflow: hidden;
  width: 162px;
  margin: 0 auto;
  background: #e6382f;
}

.secondkill .sek-list .sek-goods li.slide-item .price div {
  float: left;
  width: 80px;
  height: 20px;
  text-align: center;
}

.secondkill .sek-list .sek-goods li.slide-item .price .current {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.secondkill .sek-list .sek-goods li.slide-item .price .current i {
  font-size: 12px;
}

.secondkill .sek-list .sek-goods li.slide-item .price .origin {
  border: 1px solid #e6382f;
  background: #fff;
}

.secondkill .sek-list .sek-goods li.slide-item:after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1px;
  height: 100%;
  content: "";
  background: #f0f0f0;
}

.secondkill .banner-w {
  position: relative;
  float: left;
  width: 180px;
  height: 260px;
  padding: 8px 10px 7px;
}

.secondkill .banner-w .slideshow {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.secondkill .banner-w .slideshow .slides {
  width: 600px;
}

.secondkill .banner-w .slideshow .slides li {
  float: left;
}

.secondkill .banner-w .slideshow .dots {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.secondkill .banner-w .slideshow .dots li {
  float: left;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #c0c0c0;
}

.secondkill .banner-w .slideshow .dots li:hover, .secondkill .banner-w .slideshow .dots li.focus {
  background: #e33333;
}

.secondkill .banner-w .slideshow .dots li:not(last-child) {
  margin-right: 6px;
}

.grid_2 .wrapper {
  overflow: hidden;
}

.grid_2 .sale-rank .tabs {
  overflow: hidden;
  height: 34px;
  background: #f7f7f7;
}

.grid_2 .sale-rank .tabs li {
  float: left;
  width: 78px;
  line-height: 34px;
  cursor: point;
  text-align: center;
  color: #666;
}

.grid_2 .sale-rank .tabs li:hover {
  color: #f10215;
}

.grid_2 .sale-rank .tab-items {
  position: relative;
  height: 356px;
  margin: 0 20px;
}

.grid_2 .sale-rank .tab-items > div[class|="tab-item"] {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.grid_2 .sale-rank .tab-items .slideshow {
  z-index: 0;
  overflow: hidden;
  width: 350px;
  height: 100%;
  margin: 0 auto;
}

.grid_2 .sale-rank .tab-items .slideshow .dots {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.grid_2 .sale-rank .tab-items .slideshow .dots .dot {
  float: left;
  width: 18px;
  height: 18px;
  transition: .2s ease;
  text-align: center;
  border-radius: 9px;
}

.grid_2 .sale-rank .tab-items .slideshow .dots .dot i {
  width: 6px;
  height: 6px;
  margin-top: 4px;
  border: 2px solid #b9beba;
  border-radius: 6px;
}

.grid_2 .sale-rank .tab-items .slideshow .dots .dot.focus, .grid_2 .sale-rank .tab-items .slideshow .dots .dot:hover {
  background: #fdd9dd;
}

.grid_2 .sale-rank .tab-items .slideshow .dots .dot.focus i, .grid_2 .sale-rank .tab-items .slideshow .dots .dot:hover i {
  border: 2px solid transparent;
  background: #eb3436;
}

.grid_2 .sale-rank .tab-items .slideshow .slides {
  position: relative;
  width: 1600px;
  height: 100%;
}

.grid_2 .sale-rank .tab-items .slideshow .slides .slide {
  float: left;
  width: 350px;
  background: #fff;
}

.grid_2 .sale-rank .tab-items .slideshow .slides .slide li.slide-item {
  height: 107px;
}

.grid_2 .sale-rank .tab-items .slideshow .slides .slide li.slide-item img {
  float: left;
  margin-top: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

.grid_2 .sale-rank .tab-items .slideshow .slides .slide li.slide-item i.icon-num {
  float: left;
  width: 30px;
  height: 40px;
  margin-top: 36px;
  margin-right: 4px;
  font-family: 'impact';
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  color: #e74240;
}

.grid_2 .sale-rank .tab-items .slideshow .slides .slide li.slide-item .item-info {
  float: left;
  overflow: hidden;
  width: 225px;
  height: 32px;
  margin-top: 40px;
  line-height: 16px;
  color: #333;
}

.grid_2 .sale-rank .tab-items .slideshow:after {
  position: absolute;
  bottom: 36px;
  display: block;
  width: 350px;
  height: 1px;
  content: "";
  background: #f5f5f5;
}

.grid_2 .pick-series .box-body .slideshow {
  overflow: hidden;
  width: 390px;
  height: 390px;
}

.grid_2 .pick-series .box-body .slideshow .slides-wrapper {
  overflow: hidden;
  width: 350px;
  height: 390px;
  margin: 0 auto;
  outline: 1px yellow;
}

.grid_2 .pick-series .box-body .slideshow .slides {
  width: 2000px;
  height: 355px;
}

.grid_2 .pick-series .box-body .slideshow .slides .slide {
  position: relative;
  float: left;
  width: 350px;
  height: 355px;
}

.grid_2 .pick-series .box-body .slideshow .dots {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.grid_2 .pick-series .box-body .slideshow .dots .dot {
  float: left;
  width: 18px;
  height: 18px;
  transition: .2s ease;
  text-align: center;
  border-radius: 9px;
}

.grid_2 .pick-series .box-body .slideshow .dots .dot i {
  width: 6px;
  height: 6px;
  margin-top: 4px;
  border: 2px solid #b9beba;
  border-radius: 6px;
}

.grid_2 .pick-series .box-body .slideshow .dots .dot.focus, .grid_2 .pick-series .box-body .slideshow .dots .dot:hover {
  background: #fdd9dd;
}

.grid_2 .pick-series .box-body .slideshow .dots .dot.focus i, .grid_2 .pick-series .box-body .slideshow .dots .dot:hover i {
  border: 2px solid transparent;
  background: #eb3436;
}

.grid_2 .pick-series .box-body .slideshow .slideshow-controls div {
  position: absolute;
  z-index: 20;
  top: 45%;
  width: 20px;
  height: 40px;
  line-height: 40px;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0.4;
  border: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.grid_2 .pick-series .box-body .slideshow .slideshow-controls div i.icon-arrow-white {
  width: 6px;
  height: 11px;
  background: url(../img/icon/arrow-left-white.png) no-repeat;
  background-size: 6px;
}

.grid_2 .pick-series .box-body .slideshow .slideshow-controls div:hover {
  background: rgba(0, 0, 0, 0.4);
}

.grid_2 .pick-series .box-body .slideshow .slideshow-controls .slideshow-con-prev {
  left: 0;
}

.grid_2 .pick-series .box-body .slideshow .slideshow-controls .slideshow-con-next {
  right: 0;
}

.grid_2 .pick-series .box-body .slideshow .slideshow-controls .slideshow-con-next i {
  margin-left: 2px;
  transform: rotateY(180deg);
}

.grid_2 .pick-series .box-body .slide-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 210px;
  padding-top: 50px;
  text-align: center;
  color: #fff;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEGCAYAAACkZ/+FAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAASklEQVQ4y+2SsQ3AMAzDaPcL/39otkxpwcbo1CyEBAqeTFVFApEAM71CSmHrbbJC1I7Y3FlEAtdnlzs7K2wVovNI9k+fwaIe/AEDTU0DWD9lY84AAAAASUVORK5CYII=) repeat-x 0 bottom;
}

.grid_2 .pick-series .box-body .slide-info h3 {
  position: relative;
  display: inline-block;
  width: 140px;
  margin-top: 90px;
}

.grid_2 .pick-series .box-body .slide-info h3 span {
  display: inline-block;
  overflow: hidden;
  width: 130px;
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.grid_2 .pick-series .box-body .slide-info h3:before, .grid_2 .pick-series .box-body .slide-info h3:after {
  position: absolute;
  top: 50%;
  width: 47px;
  height: 1px;
  content: "";
  background-color: #fff;
}

.grid_2 .pick-series .box-body .slide-info h3:before {
  left: -50px;
}

.grid_2 .pick-series .box-body .slide-info h3:after {
  right: -50px;
}

.grid_2 .pick-series .box-body .slide-info h4 {
  overflow: hidden;
  width: 235px;
  height: 14px;
  margin: 4px auto 10px;
  line-height: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.grid_2 .pick-series .box-body .slide-info button {
  width: 80px;
  height: 30px;
  line-height: 11px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.grid_2 .pick-series .box-body .slide-info button:hover {
  border: 1px solid transparent;
  background-color: #f10215;
}

.grid_2 .get-ticket .box-body .slideshow {
  overflow: hidden;
  height: 100%;
  margin: 0 20px;
}

.grid_2 .get-ticket .box-body .slideshow .slides {
  width: 2000px;
}

.grid_2 .get-ticket .box-body .slideshow .slides .slide {
  float: left;
}

.grid_2 .get-ticket .box-body .slideshow .slides .slide .slide-item:nth-of-type(2) {
  background: #eeefed;
}

.grid_2 .get-ticket .box-body .slideshow .dots {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.grid_2 .get-ticket .box-body .slideshow .dots .dot {
  float: left;
  width: 18px;
  height: 18px;
  transition: .2s ease;
  text-align: center;
  border-radius: 9px;
}

.grid_2 .get-ticket .box-body .slideshow .dots .dot i {
  width: 6px;
  height: 6px;
  margin-top: 4px;
  border: 2px solid #b9beba;
  border-radius: 6px;
}

.grid_2 .get-ticket .box-body .slideshow .dots .dot.focus, .grid_2 .get-ticket .box-body .slideshow .dots .dot:hover {
  background: #fdd9dd;
}

.grid_2 .get-ticket .box-body .slideshow .dots .dot.focus i, .grid_2 .get-ticket .box-body .slideshow .dots .dot:hover i {
  border: 2px solid transparent;
  background: #eb3436;
}

.grid_2 .get-ticket .box-body .slide-item {
  position: relative;
  width: 350px;
  height: 118px;
  border-radius: 6px;
  background: #f6f6f6;
}

.grid_2 .get-ticket .box-body .slide-item .ticket-img {
  float: left;
  width: 70px;
  height: 70px;
  margin: 14px 0 0 10px;
  margin-right: 30px;
  padding: 10px;
  border-radius: 50%;
  background: #fff;
}

.grid_2 .get-ticket .box-body .slide-item .ticket-img img {
  border-radius: 50%;
}

.grid_2 .get-ticket .box-body .slide-item .ticket-info {
  float: left;
  width: 168px;
  padding-top: 15px;
}

.grid_2 .get-ticket .box-body .slide-item .ticket-info .tic-money {
  height: 38px;
  font-size: 0;
  line-height: 38px;
  color: #e33333;
}

.grid_2 .get-ticket .box-body .slide-item .ticket-info .tic-money .icon-money {
  margin-right: 3px;
  font-size: 14px;
}

.grid_2 .get-ticket .box-body .slide-item .ticket-info .tic-money span {
  font-size: 34px;
}

.grid_2 .get-ticket .box-body .slide-item .ticket-info .tic-limit {
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  color: #b1b3b0;
}

.grid_2 .get-ticket .box-body .slide-item .ticket-info .tic-desc {
  overflow: hidden;
  height: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #767b77;
}

.grid_2 .get-ticket .box-body .slide-item .more-ticket {
  position: absolute;
  top: 15px;
  right: 34px;
  float: right;
  width: 1px;
  height: 100%;
  line-height: 15px;
  transition: color ease .2s;
  color: #333;
  color: #333;
}

.grid_2 .get-ticket .box-body .slide-item .more-ticket:hover {
  color: #f10215;
}

.grid_2 .get-ticket .box-body .slide-item:before, .grid_2 .get-ticket .box-body .slide-item:after {
  position: absolute;
  right: 54px;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  border-radius: 50%;
  background-color: #fff;
}

.grid_2 .get-ticket .box-body .slide-item:before {
  top: -8px;
}

.grid_2 .get-ticket .box-body .slide-item:after {
  bottom: -8px;
}

.grid_3 .wrapper {
  overflow: hidden;
}

.grid_3 .find .box-body .slideshow {
  height: 390px;
}

.grid_3 .find .box-body .slideshow .slides-w {
  overflow: hidden;
  width: 350px;
  margin: 0 20px;
}

.grid_3 .find .box-body .slideshow .slides {
  position: relative;
  width: 1600px;
  height: 355px;
  margin: 0 auto;
  border-bottom: 1px solid #f5f5f5;
}

.grid_3 .find .box-body .slideshow .slides .slide {
  float: left;
  width: 350px;
  height: 355px;
}

.grid_3 .find .box-body .slideshow .dots {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.grid_3 .find .box-body .slideshow .dots .dot {
  float: left;
  width: 18px;
  height: 18px;
  transition: .2s ease;
  text-align: center;
  border-radius: 9px;
}

.grid_3 .find .box-body .slideshow .dots .dot i {
  width: 6px;
  height: 6px;
  margin-top: 4px;
  border: 2px solid #b9beba;
  border-radius: 6px;
}

.grid_3 .find .box-body .slideshow .dots .dot.focus, .grid_3 .find .box-body .slideshow .dots .dot:hover {
  background: #fdd9dd;
}

.grid_3 .find .box-body .slideshow .dots .dot.focus i, .grid_3 .find .box-body .slideshow .dots .dot:hover i {
  border: 2px solid transparent;
  background: #eb3436;
}

.grid_3 .find .box-body .slideshow .slideshow-controls div {
  position: absolute;
  z-index: 20;
  top: 45%;
  width: 20px;
  height: 40px;
  line-height: 40px;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0.4;
  border: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.grid_3 .find .box-body .slideshow .slideshow-controls div i.icon-arrow-white {
  width: 6px;
  height: 11px;
  background: url(../img/icon/arrow-left-white.png) no-repeat;
  background-size: 6px;
}

.grid_3 .find .box-body .slideshow .slideshow-controls div:hover {
  background: rgba(0, 0, 0, 0.4);
}

.grid_3 .find .box-body .slideshow .slideshow-controls .slideshow-con-prev {
  left: 0;
}

.grid_3 .find .box-body .slideshow .slideshow-controls .slideshow-con-next {
  right: 0;
}

.grid_3 .find .box-body .slideshow .slideshow-controls .slideshow-con-next i {
  margin-left: 2px;
  transform: rotateY(180deg);
}

.grid_3 .find .slideshow a.slide-item {
  display: block;
  cursor: point;
}

.grid_3 .find .slideshow a.slide-item .pic {
  width: 350px;
  height: 250px;
  transition: opacity 0.4s ease;
}

.grid_3 .find .slideshow a.slide-item .pic img {
  width: 350px;
  height: 250px;
}

.grid_3 .find .slideshow a.slide-item .pic:hover {
  opacity: 0.8;
}

.grid_3 .find .slideshow a.slide-item h3.title {
  overflow: hidden;
  height: 50px;
  font-size: 18px;
  line-height: 56px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}

.grid_3 .find .slideshow a.slide-item p.desc {
  overflow: hidden;
  height: 40px;
  font-size: 14px;
  text-align: center;
  color: #999;
}

.grid_3 .find-goods .box-body {
  height: 390px;
  margin: 0 15px;
  border-top: 1px solid #f5f5f5;
}

.grid_3 .find-goods .box-body a {
  display: block;
}

.grid_3 .find-goods .box-body a li {
  float: left;
  width: 110px;
  height: 125px;
  margin: 0 5px;
  text-align: center;
}

.grid_3 .find-goods .box-body a li .pic {
  width: 70px;
  height: 70px;
  margin: 8px auto;
}

.grid_3 .find-goods .box-body a li .pic img {
  width: 100%;
  height: 100%;
}

.grid_3 .find-goods .box-body a li .title {
  display: block;
  overflow: hidden;
  height: 34px;
  padding: 0 4px;
  font-size: 14px;
  line-height: 34px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}

.grid_3 .walk .box-body {
  padding: 0 20px;
}

.grid_3 .walk .box-body a {
  display: block;
}

.grid_3 .walk .box-body a pic {
  width: 100%;
  height: 250px;
}

.grid_3 .walk .box-body a pic img {
  width: 100%;
  height: 100%;
}

.grid_3 .walk .box-body a ul {
  overflow: hidden;
}

.grid_3 .walk .box-body a ul li {
  float: left;
  width: 110px;
  height: 110px;
  margin-right: 10px;
}

.grid_3 .walk .box-body a ul li img {
  width: 100%;
  height: 100%;
}

#st-special .st-body {
  width: 100%;
  height: 365px;
}

#st-special .st-body .slideshow {
  height: 100%;
}

#st-special .st-body .slideshow .slides-w {
  width: 100%;
  background-color: #fff;
}

#st-special .st-body .slideshow .slides-w .slides {
  width: 8000px;
  height: 330px;
  margin-right: 10px;
}

#st-special .st-body .slideshow .slides-w .slides .slide {
  float: left;
}

#st-special .st-body .slideshow .dots {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#st-special .st-body .slideshow .dots .dot {
  float: left;
  width: 18px;
  height: 18px;
  transition: .2s ease;
  text-align: center;
  border-radius: 9px;
}

#st-special .st-body .slideshow .dots .dot i {
  width: 6px;
  height: 6px;
  margin-top: 4px;
  border: 2px solid #b9beba;
  border-radius: 6px;
}

#st-special .st-body .slideshow .dots .dot.focus, #st-special .st-body .slideshow .dots .dot:hover {
  background: #fdd9dd;
}

#st-special .st-body .slideshow .dots .dot.focus i, #st-special .st-body .slideshow .dots .dot:hover i {
  border: 2px solid transparent;
  background: #eb3436;
}

#st-special .st-body .slideshow .slideshow-controls div {
  position: absolute;
  z-index: 20;
  top: 45%;
  width: 20px;
  height: 40px;
  line-height: 40px;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0.4;
  border: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#st-special .st-body .slideshow .slideshow-controls div i.icon-arrow-white {
  width: 6px;
  height: 11px;
  background: url(../img/icon/arrow-left-white.png) no-repeat;
  background-size: 6px;
}

#st-special .st-body .slideshow .slideshow-controls div:hover {
  background: rgba(0, 0, 0, 0.4);
}

#st-special .st-body .slideshow .slideshow-controls .slideshow-con-prev {
  left: 0;
}

#st-special .st-body .slideshow .slideshow-controls .slideshow-con-next {
  right: 0;
}

#st-special .st-body .slideshow .slideshow-controls .slideshow-con-next i {
  margin-left: 2px;
  transform: rotateY(180deg);
}

#st-special .slideshow .third-box.slide-item, #st-special .slideshow .stage .st-body .slide-item.grid-box, .stage .st-body #st-special .slideshow .slide-item.grid-box, #st-special .slideshow .stage .st-body .slide-item.dec-box-r, .stage .st-body #st-special .slideshow .slide-item.dec-box-r, #st-special .slideshow .stage .st-body .slide-item.dec-box-l, .stage .st-body #st-special .slideshow .slide-item.dec-box-l {
  width: 390px;
  height: 330px;
  margin-right: 10px;
}

#st-special .slideshow .third-box.slide-item .pic, #st-special .slideshow .stage .st-body .slide-item.grid-box .pic, .stage .st-body #st-special .slideshow .slide-item.grid-box .pic, #st-special .slideshow .stage .st-body .slide-item.dec-box-r .pic, .stage .st-body #st-special .slideshow .slide-item.dec-box-r .pic, #st-special .slideshow .stage .st-body .slide-item.dec-box-l .pic, .stage .st-body #st-special .slideshow .slide-item.dec-box-l .pic {
  overflow: hidden;
  width: 350px;
  height: 250px;
  margin: 0 auto;
}

#st-live .st-body .third-box, #st-live .stage .st-body .grid-box, .stage #st-live .st-body .grid-box, #st-live .stage .st-body .dec-box-r, .stage #st-live .st-body .dec-box-r, #st-live .stage .st-body .dec-box-l, .stage #st-live .st-body .dec-box-l {
  height: 430px;
}

#st-live .st-body .third-box a, #st-live .stage .st-body .grid-box a, .stage #st-live .st-body .grid-box a, #st-live .stage .st-body .dec-box-r a, .stage #st-live .st-body .dec-box-r a, #st-live .stage .st-body .dec-box-l a, .stage #st-live .st-body .dec-box-l a {
  display: block;
  width: 350px;
  height: 390px;
  margin: 20px;
}

#st-live .st-body .third-box a ul, #st-live .stage .st-body .grid-box a ul, .stage #st-live .st-body .grid-box a ul, #st-live .stage .st-body .dec-box-r a ul, .stage #st-live .st-body .dec-box-r a ul, #st-live .stage .st-body .dec-box-l a ul, .stage #st-live .st-body .dec-box-l a ul {
  margin-left: -10px;
}

#st-live .st-body .third-box a ul li, #st-live .stage .st-body .grid-box a ul li, .stage #st-live .st-body .grid-box a ul li, #st-live .stage .st-body .dec-box-r a ul li, .stage #st-live .st-body .dec-box-r a ul li, #st-live .stage .st-body .dec-box-l a ul li, .stage #st-live .st-body .dec-box-l a ul li {
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
  width: 170px;
  height: 190px;
  font-size: 0;
}

#st-live .st-body .third-box a ul li span, #st-live .stage .st-body .grid-box a ul li span, .stage #st-live .st-body .grid-box a ul li span, #st-live .stage .st-body .dec-box-r a ul li span, .stage #st-live .st-body .dec-box-r a ul li span, #st-live .stage .st-body .dec-box-l a ul li span, .stage #st-live .st-body .dec-box-l a ul li span {
  font-size: 14px;
  position: absolute;
  width: 140px;
  height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  bottom: 20px;
  left: 15px;
  color: #fff;
  text-align: center;
}

#st-live .st-body .third-box a ul li .img-wrapper img, #st-live .stage .st-body .grid-box a ul li .img-wrapper img, .stage #st-live .st-body .grid-box a ul li .img-wrapper img, #st-live .stage .st-body .dec-box-r a ul li .img-wrapper img, .stage #st-live .st-body .dec-box-r a ul li .img-wrapper img, #st-live .stage .st-body .dec-box-l a ul li .img-wrapper img, .stage #st-live .st-body .dec-box-l a ul li .img-wrapper img {
  position: relative;
  width: 100%;
}

#st-live .st-body .third-box a ul li .img-wrapper:after, #st-live .stage .st-body .grid-box a ul li .img-wrapper:after, .stage #st-live .st-body .grid-box a ul li .img-wrapper:after, #st-live .stage .st-body .dec-box-r a ul li .img-wrapper:after, .stage #st-live .st-body .dec-box-r a ul li .img-wrapper:after, #st-live .stage .st-body .dec-box-l a ul li .img-wrapper:after, .stage #st-live .st-body .dec-box-l a ul li .img-wrapper:after {
  content: "";
  display: block;
  width: 170px;
  height: 190px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

#st-live .st-body .third-box .large, #st-live .stage .st-body .grid-box .large, .stage #st-live .st-body .grid-box .large, #st-live .stage .st-body .dec-box-r .large, .stage #st-live .st-body .dec-box-r .large, #st-live .stage .st-body .dec-box-l .large, .stage #st-live .st-body .dec-box-l .large {
  position: relative;
  width: 350px;
  height: 380px;
  color: #fff;
}

#st-live .st-body .third-box .large .img-wrapper img, #st-live .stage .st-body .grid-box .large .img-wrapper img, .stage #st-live .st-body .grid-box .large .img-wrapper img, #st-live .stage .st-body .dec-box-r .large .img-wrapper img, .stage #st-live .st-body .dec-box-r .large .img-wrapper img, #st-live .stage .st-body .dec-box-l .large .img-wrapper img, .stage #st-live .st-body .dec-box-l .large .img-wrapper img {
  width: 100%;
}

#st-live .st-body .third-box .large .img-wrapper:after, #st-live .stage .st-body .grid-box .large .img-wrapper:after, .stage #st-live .st-body .grid-box .large .img-wrapper:after, #st-live .stage .st-body .dec-box-r .large .img-wrapper:after, .stage #st-live .st-body .dec-box-r .large .img-wrapper:after, #st-live .stage .st-body .dec-box-l .large .img-wrapper:after, .stage #st-live .st-body .dec-box-l .large .img-wrapper:after {
  content: "";
  display: block;
  width: 350px;
  height: 390px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

#st-live .st-body .third-box .large h3, #st-live .stage .st-body .grid-box .large h3, .stage #st-live .st-body .grid-box .large h3, #st-live .stage .st-body .dec-box-r .large h3, .stage #st-live .st-body .dec-box-r .large h3, #st-live .stage .st-body .dec-box-l .large h3, .stage #st-live .st-body .dec-box-l .large h3 {
  position: absolute;
  bottom: 60px;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

#st-live .st-body .third-box .large p, #st-live .stage .st-body .grid-box .large p, .stage #st-live .st-body .grid-box .large p, #st-live .stage .st-body .dec-box-r .large p, .stage #st-live .st-body .dec-box-r .large p, #st-live .stage .st-body .dec-box-l .large p, .stage #st-live .st-body .dec-box-l .large p {
  position: absolute;
  bottom: 38px;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

#st-live .st-body .third-box i.icon-play, #st-live .stage .st-body .grid-box i.icon-play, .stage #st-live .st-body .grid-box i.icon-play, #st-live .stage .st-body .dec-box-r i.icon-play, .stage #st-live .st-body .dec-box-r i.icon-play, #st-live .stage .st-body .dec-box-l i.icon-play, .stage #st-live .st-body .dec-box-l i.icon-play {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(../img/icon/download.png);
  background-size: 44px 44px;
  width: 44px;
  height: 44px;
  opacity: 0.9;
}

#st-live .st-body .third-box .large i.icon-play, #st-live .stage .st-body .grid-box .large i.icon-play, .stage #st-live .st-body .grid-box .large i.icon-play, #st-live .stage .st-body .dec-box-r .large i.icon-play, .stage #st-live .st-body .dec-box-r .large i.icon-play, #st-live .stage .st-body .dec-box-l .large i.icon-play, .stage #st-live .st-body .dec-box-l .large i.icon-play {
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
}

#st-live .st-body ul.item-list {
  margin-left: -10px;
  overflow: hidden;
}

#st-live .st-body ul.item-list li.item {
  width: 230px;
  height: 305px;
  margin-left: 10px;
  background: #fff;
  float: left;
  margin-bottom: 10px;
  position: relative;
}

#st-live .st-body .item-list .item-content a {
  display: block;
}

#st-live .st-body .item-list .item-content a .img-wrapper {
  padding: 30px;
}

#st-live .st-body .item-list .item-content a .st-title {
  margin-top: 10px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

#st-live .st-body .item-list .item-content a .st-title p {
  margin: 0 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#st-live .st-body .item-list .item-content a .st-title .item-price-wrapper {
  color: #e33333;
  line-height: 30px;
}

#st-live .st-body ul.item-list li.item .item-more {
  transition: 0.4s ease;
}

#st-live .st-body ul.item-list li.item .item-more .search-btn {
  transition: 1s ease;
  opacity: 0;
}

#st-live .st-body ul.item-list li.item:hover .item-more {
  background: rgba(255, 255, 255, 0.4);
}

#st-live .st-body ul.item-list li.item:hover .search-btn {
  opacity: 0.9;
}

#st-live .st-body .item-list .item-more {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 305px;
}

#st-live .st-body .item-list .item-more .search-similar {
  width: 230px;
  height: 305px;
}

#st-live .st-body .item-list .item-more .search-similar .search-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  border-radius: 50%;
  line-height: 60px;
  cursor: pointer;
  background: #222;
  color: #fff;
  text-align: center;
  opacity: 0.9;
}

.footer {
  overflow: hidden;
  background-color: #eaeaea;
}

.footer .jd-service {
  overflow: hidden;
  padding: 30px 0;
  vertical-align: middle;
}

.footer .jd-service span {
  font-size: 18px;
  vertical-align: middle;
}

.footer .jd-service li {
  float: left;
  width: 252px;
  padding-left: 45px;
  font-weight: 700;
}

.footer .jd-service li i {
  width: 36px;
  height: 42px;
  margin-right: 4px;
  vertical-align: middle;
  background: url(../img/icon/ico_service.png) no-repeat;
}

.footer .jd-service li i.more {
  background-position: 0 0;
}

.footer .jd-service li i.speed {
  background-position: 0 -43px;
}

.footer .jd-service li i.good {
  background-position: 0 -86px;
}

.footer .jd-service li i.save {
  background-position: 0 -129px;
}

.footer .jd-helper {
  overflow: hidden;
  padding: 20px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.footer .jd-helper .guide {
  float: left;
  overflow: hidden;
  width: 198px;
  line-height: 22px;
}

.footer .jd-helper .guide span {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}

.footer .jd-helper .guide a {
  color: #666;
}

.footer .jd-helper .guide a:hover {
  color: #f10214;
}

.footer .jd-helper .jd-area {
  float: right;
  width: 200px;
  height: 150px;
  background: url(../img/icon/ico_footer.png);
}

.footer .jd-helper .jd-area h5 {
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}

.footer .jd-helper .jd-area a {
  display: block;
  text-align: right;
}

.footer .jd-helper .jd-area p {
  width: 180px;
}

.footer .jd-coperight {
  padding: 15px 0;
}

.footer .jd-coperight > div {
  overflow: hidden;
  text-align: center;
}

.footer .jd-coperight .pipe {
  width: 1px;
  height: 12px;
  margin: 0 4px;
  margin-top: 4px;
  font-weight: 400;
  color: #ccc;
}

.footer .jd-coperight a {
  color: #666;
}

.footer .jd-coperight .info {
  margin: 10px 0;
  line-height: 22px;
}

.footer .jd-coperight .info a {
  color: #999;
}
